@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --black-color: #101010;
    --black2-color: #232323;
    --white1-color:  #ffffff;
    --white2-color: #f2ebeb;
    --white3-color: #9a9696;
    --toast-color: #71a884;

}